
<div class="navbar">
    <div class="col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
        <a class="ar" href="{% url 'storeapp:login' %}">Login</a>
        <a class="ar" href="{% url 'storeapp:register' %}">Register</a>
        <div class="dropdown">
            <button class="dropbtn ar">Department</button>
            <div class="dropdown-content">
                <a href="https://en.wikipedia.org/wiki/Electrical_engineering">Electrical Engineering</a>
                <a href="https://en.wikipedia.org/wiki/Robotics">Automation and Robotics</a>
                <a href="https://en.wikipedia.org/wiki/Bachelor_of_Commerce">Commerce</a>
                <a href="https://en.wikipedia.org/wiki/Humanities">Humanities</a>
                <a href="https://en.wikipedia.org/wiki/Anatomy">Anatomy</a>
            </div>
        </div>
    </div>
</div>

